# Node.js dependencies
node_modules/

# Log files
*api/logs/
api/config/

# Environment variables
*.env
*.idea/
# Build output
client-side/dist/
client-side/build/

# Coverage directory
coverage/

# Python specific
__pycache__/
*.pyc
venv/
env/

# Operating system files
.DS_Store
Thumbs.db
